:root {
  /* Your default theme */

  --background: #d1d8de;
  --background2: #cfe3ff;
  --foreground: #243347;
  --font-color: #243347;
  --main-bg-color: #f2ede4;
  --font-color-dark: #f2ede4;
  --main-bg-color-dark: #1a202c;
  --color1: #b9b8b4;
  --color2: #666971;
  --color3: #9cb0cc;
  --color4: #5779aa;
  --color5: #cfe3ff;
  --color6: #2b3c54;

  /* font-size */

  /* thx to https://www.fluid-type-scale.com/
  Big up !! */

  --font-size-sm: clamp(0.8rem, 0.26vw + 0.73rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.55vw + 0.86rem, 1.19rem);
  --font-size-md: clamp(1.24rem, 0.97vw + 1.01rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1.59vw + 1.16rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 2.5vw + 1.33rem, 2.81rem);
  --font-size-xxl: clamp(2.35rem, 3.8vw + 1.49rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 5.66vw + 1.64rem, 5rem);
  --font-size-xxxxl: clamp(2.5rem, 0.8333rem + 7.619vw, 7.5rem);
}

[data-theme="dark"] {
  --background: #243347;
  --background2: #2b3c54;
  --foreground: #d1d8de;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size-base);
  color: var(--foreground);
  background: var(--background);
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: -2.5px;
  text-transform: uppercase;
  white-space: pre-wrap;
}
h1 {
  font-size: var(--font-size-xxxl);
  font-weight: 500;
}
@media screen and (max-width: 560px) {
  h1 {
    font-size: var(--font-size-xxl);
  }
}
h2 {
  font-size: var(--font-size-lg);
  font-weight: 400;
}
h3 {
  font-size: var(--font-size-md);
  font-weight: 400;
  letter-spacing: -1.5px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: none;
}

button {
  cursor: none;
  font-size: 100%;
  font-family: inherit;
  color: inherit;
  border: none;
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: inherit;
}
.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--foreground);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

button:has(.hover-underline-animation):hover .hover-underline-animation:after,
.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header-upper .hover-underline-animation:after,
.header-lower .hover-underline-animation:after {
  background-color: var(--background);
  height: 2px;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
